.navbar {
  display: inline-flex;
  overflow: hidden;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #f3f4f6;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.dark: .navbar{
    background: #000;
}