version: '3.6'
services:
  telegraf:
    image: telegraf
    container_name: telegraf
    restart: always
    volumes:
    - ./telegraf/vm-stats/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    depends_on:
      - influxdb
    links:
      - influxdb
    ports:
    - '8094:8094'

  influxdb:
    image: influxdb:1.8-alpine
    container_name: influxdb
    restart: always
    environment:
      - INFLUXDB_DB=influx
      - INFLUXDB_ADMIN_USER=admin
      - INFLUXDB_ADMIN_PASSWORD=admin
    ports:
      - '8086:8086'
    volumes:
      - influxdb_data:/var/lib/influxdb

  grafana:
    image: grafana/grafana
    container_name: grafana-server
    restart: always
    depends_on:
      - influxdb
    environment:
      - GF_INSTALL_PLUGINS=rocketcom-astrotheme-panel
      - GF_SECURITY_ALLOW_EMBEDDING=true
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_BASIC_ENABLED=false
      - GF_ALERTING_ENABLED=false
      - GF_UNIFIED_ALERTING_ENABLED=false  
    links:
      - influxdb
    ports:
      - '3000:3000'
    volumes:
      - ./grafana/provisioning/influxdb_ds.yml:/etc/grafana/provisioning/datasources/influxdb_ds.yml:ro
      - ./grafana/provisioning/grafana-dashboards.yml:/etc/grafana/provisioning/dashboards/grafana-dashboards.yml:ro
      - ./grafana/provisioning/telegraf-system-dashboard.json:/var/lib/grafana/dashboards/telegraf-system-dashboard.json:ro
      - ./grafana/_variables.dark.generated.scss:/usr/share/grafana/public/sass/_variables.dark.generated.scss:rw
      - grafana_data:/var/lib/grafana


  frontend:
    image: react_frontend
    container_name: react_frontend
    build:
      dockerfile: Dockerfile
      context: ./frontend/myapp
    restart: always
    depends_on:
      - grafana
    ports:
      - "3001:3000"

volumes:
  grafana_data: {}
  influxdb_data: {}


